$banniereColor : #42AB9E;
$pageBackgroundColor : #858885; //body color
$blockBackgroundColor : #fff;
$canvasColor : #000819;

$paddingGeneral : 70px;

$titleColor : #f3f3f3;
$textShadowColor : #0062a5;
