#homePage{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;

	transition: all 1s;

	.projects{
		position: relative;
	}

	&__wrapper{
		height: 100%;
		transition: all 1s;

	}
}