.project.page{
	position: relative;
	height: 100vh;
	z-index: 1;
	overflow-y: scroll;

	&.page.hide{
		transform: translateX(-50%);
		opacity: 1;
	}

	.scroll{
		position: absolute;
		z-index: 2;

		&.white{
			.scroll__title{
				-ms-transform: rotate(90deg) translateX(-62px);
				-webkit-transform: rotate(90deg) translateX(-62px);
				transform: rotate(90deg) translateX(-62px);
				
			}
		}
	}

	.header{
		display: flex;
		height: 100%;
		width: 100%;

		&__left{
			width: 50%;
			height: 100vh;
			background-color: $bodyBG;
			position: absolute;

			&__wrapper{
				padding: $paddingGeneral;
				position: relative;
				top:50%;
				transform: translateY(-50%);

				&__type{
					font-size: 1.65em;
				}

				&__title{
					font-size: 3em; 
					letter-spacing: 0.05em;
					margin:1em 0;
				}

				&__desc{
					margin-bottom: 10em;
				}

				.button{
					margin: 0 auto;
					box-shadow: 0px 4px 15px #949494;
					border: 0px;
					color: #fff;
					width: 180px;
    				letter-spacing: 0.5em;
				}
			}
		}
		&__right{
			height: 100%;
			width: 100%;
			@extend .backgroundImg;

		}

		.scroll.white{
			right: $paddingGeneral;
			left: inherit;
		}
	}

	.bandeau{
		padding: 70px;
		color: #fff;

		&__wrapper{
			justify-content: space-around;
			display: flex;
			width: 80%;
		    margin: 0 auto;
		    max-width: 1200px;
		}

		&__bloc{
			padding: 20px;

			&__title{
				text-transform: uppercase;
				font-family: Quicksand;
				letter-spacing: 0.5em;
				font-size: 0.9em; 
				font-weight: 600;
			}
			&__label{
				font-size: 1.5em;
				font-weight: 100;
			}
		}
	}

	.images{
		background-color: $bodyBG;
		padding: 5% 0; 
		.imgBloc{
			height: 100%;
			width: 100%;
			padding: 5% 0;
			
			&__frame{
				position: relative;
				max-width: 1400px;
				width: 80%;
				border: 5vw solid #F5F5F5;
				margin: 0 auto;
				
				&__img{
					width: 100%;
					min-width: 100%;
					height: 100%;
				}

			}

		}

		.imgBloc.full{
			.imgBloc__frame{
				max-width: 100%;
				width: 100%;
				height: 100%;
				border: 0;
			}
		}
	}

	.footer{
		height: 18vw;
		display: flex;
		position: relative;
		color: #fff;

		&__side{
			@extend .backgroundImg;
			width: 50%;
			position: relative;
			z-index: 5;

			&:hover{
				&__veil{
					opacity: 0;
				}
			}

			/* &__veil{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				-webkit-transition: opacity 0.5s;
		   		transition: opacity 0.5s;

				/* &:hover{
					opacity: 0;
				}
			} */

			&__title{
				@extend .center.middle;
				position: absolute;
				margin: 0;
			}

			&__arrow{
				position: absolute;
				@extend .center.middle;
				width: 50px;
			}

			&__wrapper{
			    width: 100%;
			    height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				-webkit-transition: all 0.5s;
		   		transition: all 0.5s;

		   		&:hover{
					background-color: rgba(0, 0, 0, 0);

			   		.footer__side__title{
			   			opacity: 0;
			   		}
			   		.footer__side__arrow{

			   		}
		   		}

			}

			&.left{
				.footer__side__arrow{
					-ms-transform: rotate(-180deg) translateY(15px);
					-webkit-transform: rotate(-180deg) translateY(15px);
					transform: rotate(-180deg) translateY(15px);
					left: 10%;
				}

			}

			&.right{
				.footer__side__arrow{
					left: inherit;
					right: 10%;
				}
			}
		}
	}
}