@import 'constantes';
@import 'pages';
@import 'fonts';
@import 'animations';


html, body{
	margin:0;
	background-color : $bodyBG;
	font-family: 'Karla', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 100%;
}
canvas {
  margin: 0;
  padding: 0;
  position: absolute; 
}


.button{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

/**************SCROLL************/

.scroll{
	position: absolute;
	width: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;

	&.black{
		color: #000;
	}

	&.white{
		color: #fff;
		left: $paddingGeneral;
		bottom: calc(#{$paddingGeneral} + 10px);
	}

	&__title{
		font-family: 'Karla', sans-serif;
		text-transform: uppercase;
		font-size: 12pt;
		padding: 0;
		margin: 0;
		letter-spacing: 1px;

		-ms-transform: rotate(-90deg) translateX(20px); /* IE 9 */
	    -webkit-transform: rotate(-90deg) translateX(20px); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg) translateX(20px);
	}

	&__arrow{
		width: 20px;
		animation: 2s infinite alternate scrollArrow;
	}
}

/**********BURGERMENU***********/
.burger{
	position: absolute;
	top: $paddingGeneral;
	right: $paddingGeneral;
	width: 60px;
	height: 40px;


	&__span{
	    position: absolute;
		width: 100%;
	    height: 2px;
	    background: #fff;
	    margin-top: 10px;
	    -webkit-transition: all 0.1s;
	    transition: all 0.1s;

		&:before, &:after{
			content: "";
		    position: absolute;
		    width: 100%;
		    height: 2px;
		    background: #fff;
		    top: -10px;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;
		}

		&:after{
			top: 10px;
		}
	}

	.toggled &__span{
		background: transparent;

		&:before{
			-webkit-transform: rotate(-45deg) translate(-2px, 14px);
    		transform: rotate(-45deg) translate(-2px, 14px);
		}

		&:after{
		    -webkit-transform: rotate(45deg)  translate(0px, -12px);
	    	transform: rotate(45deg)  translate(0px, -12px);
		}
	}
}


/**********LOGO***********/
.logo{
	@extend .title;
	position: absolute;
	top: $paddingGeneral;
	left: $paddingGeneral; 
	font-size: 17px;
	letter-spacing: 2px;
	
	&__title{
		margin: 0;
		padding:0;
	}
}