@import 'constantes';
@import 'pages';
@import 'fonts';
@import 'animations';


html, body{
	margin:0;
	background-color : $pageBackgroundColor;
	font-family: 'akkurat-pro-regular', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 100%;
}
canvas {
  margin: 0;
  padding: 0;
  position: absolute; 
}


.button{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

/**************SCROLL************/

.scroll{
	position: absolute;
	left: 5%;
	bottom: 7%;

	display: flex;
	justify-content: center;
	flex-direction: column;


	&.black{
		color: #000;
	}

	&.white{
		color: #fff;
	}

	&__title{
		font-family: 'Karla', sans-serif;
		text-transform: uppercase;
		font-size: 12pt;

		-ms-transform: rotate(-90deg) translateX(20px); /* IE 9 */
	    -webkit-transform: rotate(-90deg) translateX(20px); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg) translateX(20px);
	}

	&__arrow{
		height: 40px;
		animation: 2s infinite alternate scrollArrow;
	}
}

/**********BURGERMENU***********/
.burger{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 70px;
	height: 50px;


	&__span{
	    position: absolute;
		width: 100%;
	    height: 2px;
	    background: #fff;
	    margin-top: 10px;
	    -webkit-transition: all 0.1s;
	    transition: all 0.1s;

		&:before, &:after{
			content: "";
		    position: absolute;
		    width: 100%;
		    height: 2px;
		    background: #fff;
		    top: -13px;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;
		}

		&:after{
			top: 13px;
		}
	}

	.toggled &__span{
		background: transparent;

		&:before{
			-webkit-transform: rotate(-45deg) translate(-4px, 16px);
    		transform: rotate(-45deg) translate(-4px, 16px);
		}

		&:after{
		    -webkit-transform: rotate(45deg) translate(-1px, -12px);
	    	transform: rotate(45deg) translate(-1px, -12px);
		}
	}
}